{% load i18n %}
<ul class="list-group {% if not linkbacks %}no-{% endif %}linkbacks-recent">
  {% for linkback in linkbacks %}
  <li class="list-group-item">
    {% with entry=linkback.content_object %}
    <a href="{{ linkback.url }}">{{ linkback.name }}</a>
    {% trans "in" %}
    <a href="{{ entry.get_absolute_url }}#c{{ linkback.pk }}"
       title="{% trans "Linkback on" %} {{ entry.title }}">
      {{ entry.title }}
    </a>
    {% endwith %}
  </li>
  {% empty %}
  <li class="list-group-item">
    <a href="#">{% trans "No linkbacks yet." %}</a>
  </li>
  {% endfor %}
</ul>
