# Basics
*.py[cod]
__pycache__
*.sw[po]
*.egg*
.virtualenv
.venv
.DS_Store
*.sublime-project
*.sublime-workspace
*.sqlite*
media/*
static/*

# Logs
*.log
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml
.noseids

# Translations
*.mo
*.pot

# Vim
*~
*.swp
*.swo

# npm
node_modules/

# Campass
.sass-cache
