{% extends 'layout.html' %}

{% block title %}About Me{% endblock title %}

{% block body-class %}{% endblock %}

{% block menu_about_highlight %}class="current_page_item"{% endblock %}

{% block page %}
    <!-- Main -->
      <div id="main-wrapper">
        <div id="main" class="container">
          <div class="row">
            <div class="12u skel-cell-important">
              <div class="content">

                <!-- Content -->

                  <article class="is-page-content">

                    <header>
                      <h2>About Me</h2>
                      <span class="byline">Semper amet scelerisque metus faucibus morbi congue mattis</span>
                    </header>

                    <section>
                      <p>
                        Phasellus quam turpis, feugiat sit amet ornare in, hendrerit in lectus.
                        Praesent semper mod quis eget mi. Etiam eu ante risus. Aliquam erat volutpat.
                        Aliquam luctus et mattis lectus sit amet pulvinar. Nam turpis nisi
                        consequat etiam lorem ipsum dolor sit amet nullam.
                      </p>
                    </section>

                    <section>
                      <h3>More intriguing information</h3>
                      <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ac quam risus, at tempus
                        justo. Sed dictum rutrum massa eu volutpat. Quisque vitae hendrerit sem. Pellentesque lorem felis,
                        ultricies a bibendum id, bibendum sit amet nisl. Mauris et lorem quam. Maecenas rutrum imperdiet
                        vulputate. Nulla quis nibh ipsum, sed egestas justo. Morbi ut ante mattis orci convallis tempor.
                        Etiam a lacus a lacus pharetra porttitor quis accumsan odio. Sed vel euismod nisi. Etiam convallis
                        rhoncus dui quis euismod. Maecenas lorem tellus, congue et condimentum ac, ullamcorper non sapien
                        vulputate. Nulla quis nibh ipsum, sed egestas justo. Morbi ut ante mattis orci convallis tempor.
                        Etiam a lacus a lacus pharetra porttitor quis accumsan odio. Sed vel euismod nisi. Etiam convallis
                        rhoncus dui quis euismod. Maecenas lorem tellus, congue et condimentum ac, ullamcorper non sapien.
                        Donec sagittis massa et leo semper a scelerisque metus faucibus. Morbi congue mattis mi.
                        Phasellus sed nisl vitae risus tristique volutpat. Cras rutrum commodo luctus.
                      </p>
                    </section>

                    <section>
                      <h3>So in conclusion ...</h3>
                      <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ac quam risus, at tempus
                        justo. Sed dictum rutrum massa eu volutpat. Quisque vitae hendrerit sem. Pellentesque lorem felis,
                        ultricies a bibendum id, bibendum sit amet nisl. Mauris et lorem quam. Maecenas rutrum imperdiet
                        vulputate. Nulla quis nibh ipsum, sed egestas justo. Morbi ut ante mattis orci convallis tempor.
                        Etiam a lacus a lacus pharetra porttitor quis accumsan odio. Sed vel euismod nisi. Etiam convallis
                        rhoncus dui quis euismod. Maecenas lorem tellus, congue et condimentum ac, ullamcorper non sapien.
                        Donec sagittis massa et leo semper a scelerisque metus faucibus. Morbi congue mattis mi.
                        Phasellus sed nisl vitae.
                      </p>
                      <p>
                        Suspendisse laoreet metus ut metus imperdiet interdum aliquam justo tincidunt. Mauris dolor urna,
                        fringilla vel malesuada ac, dignissim eu mi. Praesent mollis massa ac nulla pretium pretium.
                        Maecenas tortor mauris, consectetur pellentesque dapibus eget, tincidunt vitae arcu.
                      </p>
                    </section>

                  </article>

                <!-- /Content -->

              </div>
            </div>
          </div>
          <div class="row">
            <div class="12u">

              <!-- Features -->

              <!-- /Features -->

            </div>
          </div>
        </div>
      </div>
    <!-- /Main -->
{% endblock %}
